body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  
    border-style: solid;
    justify-content:space-between;
    align-content: space-between;
}

.footer {
    background-color: #1f2937;
     margin-top: auto;
     color: #E5E7EB;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 72px;

}

.header {
    background: #1F2937
}

.header2 {
    padding-top: 100px;
 
   
}


div.logo {
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    
    
}

ul {
    list-style-type: none;
    gap: 10px;
    
}

.links {
    display: flex;

   
    
}

.text1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
   
}

button.signup {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
    margin: 5px;
    font-weight: bold;
    margin-bottom: 100px;
    padding: 10px
}

.image {
    background-color: grey;
    place

    
}

.flex {
    
}

    


.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.quotes {
    display: flex;
    justify-content: center;
    margin: 150px;
}

img {
    border-radius: 25px;
    border: 3px tomato;
    border-style: solid;
}

.body {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    text-align: center;
    padding: 100px;
    
}


.author {
    font-style: normal;
    font-size:large;
    text-align: end;
    font-weight: bold;
    padding: 10px;
}

.thor {
    padding: 70px
}

.modal {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    border-radius: 10px;
    margin: 150px;
}

.text2 {
    font-weight: bolder;
    font-size: 24px;
}

.signed {
    background-color:#3882F6;
    color: white;
    padding: 8px 28px;
    border-radius: 8px;
    border: 2px white;
    font-weight: bold;
    border-style: solid;

}